<!DOCTYPE html>
<html lang="en" dir="ltr">

<!-- She used old bootstrap
make new HTML document for testing
make new route for it, call it test
use it to fix the navbar -->

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
      <ul class="nav navbar-nav">
        <li class="nav-item active" id="home"><a class="nav-link" href="/">HOME</a></li>
        <li class="nav-item active" id="about"><a class="nav-link" href="about">ABOUT US</a></li>
        <li class="nav-item active" id="contact"><a class="nav-link" href="contact">CONTACT US</a></li>
      </ul>
    </div>
  </nav>

<body>
  <div class="container">
